.header-search{
    display: none;
}
.navigation-list992{
    display: none;
}
.navigation-list768{
    display: block;
}
.header-navigation__nav{
    display: none;
}
// START HEADER
.header{
    align-items: center;
}
.header-search768{
    display: block;
    border: 1px solid $lightGrey; 
    border-radius: 27px;
    min-width:auto;
    flex-grow: 1;
    padding: 1.3rem 4rem 1.3rem 1rem;
    margin-left: 10%;
    margin-right: 6px;
    position: relative;  
    @include e(submit){
        background: url(#{$imagesPath}svg/search.svg) no-repeat;
        position: absolute;
        top: 31%;
        left: 85%;    
        width: 26px; 
        height: 23px; 
    }
    @include e(field){
        min-width: 87%;
        margin-left: 1.5rem;
    }
}
.navigation-list768{
    margin: 20px;
        .navigation-list{
            @include e(item){
                display: inline-block;
                margin-right:33px ;
                color:$black;
                text-decoration: none;
                font-family:$ubuntuFontFamily;
                font-weight:$regularFontWeight;
                font-size: $baseFontSize;
                line-height: 18px;
                letter-spacing: -0.025em;
                color: $lightDark;
                &:last-of-type{
                text-decoration: underline;
                &::before{
                    content: "";
                    background: url(../../../i/svg/icon.svg) no-repeat;
                    min-width: 20px;
                    min-height: 14px;
                    display:inline-block;
                    vertical-align: -1px;
                    margin-right: 9px;
                }
            }
        }
    }
}
.header-navigation{
    @include e(select){
        margin-top: -15px;
    }
}
//HEADER END
// BANER START
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    @include e(header){
        padding: 0;
    }
    @include e(img){
        padding-top:15px ;
        padding-bottom: 19px;
    }
}
//BANER END
// page stat
.column-left{
    display: flex;
    justify-content: space-around;
}
.blog-box{
    flex-grow: 0.4;
}
.articles{
    margin-right: 5%;
}
.getting-email000{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 15px 30px 15px 30px;
    @include e(header){
        margin-top: 0;
    }
    @include e(img){
        max-width: 50%;
    }
    @include e(contnent){
        text-align: center;
    }
}
.column-right{
    @include e(navigation){
        min-width: 100%;
        display: inline-block;
        border-bottom: 1px solid #DDDDDD;
        padding: 20px 0px;
        margin-bottom: 15px;
    }
    @include e(link){
        text-decoration: none;
        margin-right: 60px;
        font-family: 'Ubuntu';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.025em;
        color: #333333;
        @include m(second){
            color: $orange;
        }
    }
    @include e(contnent){
        @include m(button1){
            margin-bottom: 40px;
        }
        @include m(button2){
            margin-bottom: 82px;
        }
        @include m(header){
            font-weight: $regularFontWeight;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: -0.025em;
        }
    }
}