
.navigation-list768{
  display: none;
}
.navigation-list992{
  display: none;
}
.header-search992__header{
  display: none;
}
.header-search992__search{
  display: none;
}
.getting-email992{
  display: none;
}
.page{
  display: block;
}
.column-left{
  display: block;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding:0px $mobilePadding;
}
// header START
//  burger start
.navigation-list000{
  display: none;
  @include e(item){
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.025em;
    color: $black;
    text-decoration: none;
  }
}
.header-navigation{
  @include e(burger){ 
    display: none;
    &:checked + .header-navigation__icon + .navigation-list000{
      position: absolute;
      left: 0px;
      width: 100%;
      height: 285px;
      padding: 29px;
      display: flex;
      flex-direction: column;
      top: 70px;
      background-color: #ffffff;
      z-index: 1;
      justify-content: space-between;
      align-items: center;
      animation: show 0.5s ease;
    }
  }
  @keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  @include e(icon){
    width: 30px;
    text-align: center;
    right: 20px;
    top: 10px;
  }
}
// burger end
.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.header-logo{
  display: flex;
  @include e(svg){
    max-width:53.3px;
    max-height:54.62px;
  }
  @include e(slogan){
    margin-left: 16px;
    @include m(header){
      font-family:$nunitoFontFamily;
      font-weight:$extraBoldFontWeight;
      font-size: 36px;
      line-height: 35px;
      letter-spacing: -0.025em;
      margin: 0;
    }
    @include m(slogan){
      font-family: $quicksandFontFamily;
      font-weight:$regularFontWeight;
      font-size: 14px;
      letter-spacing: 0.01em;
      margin: 0;
    }
  } 
}
.header-search768{
  display: none;
}
.header-navigation{
  text-align: right;
  @include e(nav){
    max-width: 28px;
    max-height: 22px;
  }
  @include e(select){
    margin-top: 7px;
    font-size: 0;
  }
  @include e(language){
    font-family:$quicksandFontFamily;
    font-weight:$regularFontWeight;
    font-size: $baseFontSize;
    line-height: 20px;
    letter-spacing: -0.025em;
    vertical-align: 5px;
    color:$lightDark;
  } 
  @include e(down){
    max-width: 16px;
    max-height: 18px;
    margin-left: 3px;

  }
}
.header-search{
  margin: 20px 0;
  border: 1px solid $lightGrey; 
  border-radius: 27px;
  min-width: 100%;
  flex-grow: 1;
  padding: 1.3rem 4rem 1.3rem 1rem;
  position: relative;
  @include e(submit){
    background: url(#{$imagesPath}svg/search.svg) no-repeat;
    position: absolute;
    top: 31%;
    left: 85%;    
    width: 26px; 
    height: 23px; 
  }
  @include e(field){
    min-width: 87%;
    margin-left: 1.5rem;
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: $baseFontSize;
    letter-spacing: -0.025em;
  }
}
// HEADER END
// BANER START
.banner{
  min-width: 100px;
  background-color: $beige;
  text-align: center;
  @include e(header){
    display: block;
    font-family: $ubuntuFontFamily;
    font-weight: $boldFontWeight;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.025em;
    color: $black;
    padding-bottom:34px ;
  }
  @include e(img){
    padding-top: 9px;
    width: 150px;
  }
}
// BANER END
// PAGE START
// columh-left
.page{
  padding:0px $mobilePadding;
}
.column-right{
  margin: 0;
  @include e(background){
    background-color: $darkWhite;
    border-radius: 10px;
    padding-top: 15px;
  }
  @include e (navigation){
    display: none;
  }
  @include e(img){
    max-width: 100%;
    position: relative;
  }
  @include e(photo){
    max-width:101%;
    min-width: 101%;
    border-bottom:3px solid #C4C4C4;
    border-top:3px solid #C4C4C4;
    border-radius: 10px;
    margin-left: -0.5%;
  }
  @include e(databox){
    min-width: 82px;
    min-height: 75px;
    background-color: $white; 
    border-radius: 10px;
    position: absolute;
    bottom: 6px;
    left: 14px;
    @include m(data){
      font-family: $nunitoFontFamily;
      font-weight: $boldFontWeight;
      font-size: 30px;
      line-height: 41px;
      letter-spacing: -0.025em;
      color: $orange;
      top: 10px;
      left: 25px;
      position: relative;
    }
    @include m(mounth){
      font-family:$quicksandFontFamily;
      font-weight: $regularFontWeight;
      font-size: $baseFontSize;
      line-height: 20px;
      letter-spacing: -0.025em;
      color: $lightDark;
      position: relative;
      top: 30px;
      left: -8px;
    }
  }
  @include e(contnent){
    padding: 0px 5%;

    @include m(header){
      @include font($ubuntuFontFamily , $mediumFontWeight);
      line-height: 28px;
      font-size: 24px;
      margin: 0;
      padding: 0;
      margin-top: 44px;
      margin-bottom:8px ;
    }
    @include m(nav){
      display: none;
    }
    @include m(paragraph){
      @include font($ubuntuFontFamily , $lightFontWeight);
      font-size: 16px;
      line-height:18px ;
      letter-spacing:-0.025em; 
      margin: 0;
      padding: 0;
      
    }
    @include m(button1){
      margin-top: 30px;
      color: $white;
      background-color: $orange;
      min-width: 150px;
      min-height:47px;
      border-radius: 25px 25px 25px 25px;
      padding: 0;
      font-family:$ubuntuFontFamily;
      font-weight: $boldFontWeight;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.025em;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    @include m(button2){
      margin-top: 30px;
      color: $white;
      background-color: $orange;
      min-width: 150px;
      min-height:47px;
      border-radius: 25px 25px 25px 25px;
      padding: 0;
      font-family:$ubuntuFontFamily;
      font-weight: $boldFontWeight;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.025em;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}
//column left end
//column-right start
.blog-box{
  margin-top:45px;
  max-width: 100%;
  @include e(header){
    margin: 0;
    margin-bottom: 30px;
    font-family: $ubuntuFontFamily;
    font-weight: $mediumFontWeight;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.025em;
    color: #333333;
  }
  @include e(list){
    list-style: none;
    @include m(item){
      color: $black;
      padding: 10px 0px 10px 0px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #CCCCCC;
      font-family: $ubuntuFontFamily;
      font-weight:$regularFontWeight;
      font-size: $baseFontSize;
      line-height: 18px;
      letter-spacing: -0.025em;
      @include m(hover){
        color: #2B5AE1;
        padding: 10px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CCCCCC;
        font-family: $ubuntuFontFamily;
        font-weight:$regularFontWeight;
        font-size: $baseFontSize;
        line-height: 18px;
        letter-spacing: -0.025em;
      }
    }
    @include m(link){
      flex: auto;
      padding-left: 12px;
      text-decoration: none;
      font-family: $ubuntuFontFamily;
      font-weight:$regularFontWeight;
      font-size:$baseFontSize;
      line-height: 18px;
      letter-spacing: -0.025em;
      color: $lightDark;
      @include m(hover){
        color: $orange;
        flex: auto;
        padding-left: 12px;
        text-decoration: none;
        font-family: $ubuntuFontFamily;
        font-weight:$regularFontWeight;
        font-size:$baseFontSize;
        line-height: 18px;
        letter-spacing: -0.025em;
      }
    }
  } 
} 
.articles{
  max-width: 100%;
  margin-top: 24px;
  @include e(header){
    font-family: $ubuntuFontFamily;
    font-weight: $mediumFontWeight; 
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.025em;
  }
}

.article-container{
  border-bottom: 1px solid #CCCCCC;
  @include e(content){
    margin-bottom: 28px;
    margin-top: 40px;
    display: flex;
  }
  @include e(graybox){
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    background: #C4C4C4;
    border-radius: 7px;
  }
  @include e(box){
    margin-left: 10px;
  }
  @include e(paragraph){
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  @include e(link){
    text-decoration: none;
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.025em;
    color: $orange;
  }
}
.getting-email000{ 
  margin-top: 60px;
  background-color: $purple;
  padding: 10px 30px 28px 30px;
  text-align: center;
  border-radius: 10px;
  @include e(img){
    max-width: 100%;
}
  @include e(header){
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: $white;
    margin-bottom: 40px;
  }
  @include e(paragraph){
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: $baseFontSize;
    line-height: 26px;
    letter-spacing: -0.025em;
    color: $white;
    margin-bottom:40px;
  }
  @include e(input){
    background-color: $white;
    padding: 1.3rem 1rem 1.3rem 1rem;
    min-width: 100%;
    text-align: center;
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: $baseFontSize;
    line-height: 18px;
    letter-spacing: -0.025em;
    border-radius:27px;
    color: #9D9D9D;
    margin-bottom: 10px;
  }
  @include e(button){
    margin-top: 10px;
    font-family: $ubuntuFontFamily;
    font-weight: $regularFontWeight;
    font-size: $baseFontSize;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.025em;
    background-color: $orange;
    color: $white;
    padding: 1.3rem 1rem 1.3rem 1rem;
    min-width: 100%;
    border-radius:27px;
    text-transform: uppercase;
  }
}
//column-right end
// selectors start
.selectors{
text-align: left;
margin-bottom: 50px;
padding: 40;
margin-left: 10px;
margin-top: 30px;
  @include e(pages){
    text-align: center;
    display: inline-block;
    padding: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    text-decoration: none;
    color: $lightDark;
    font-family: $quicksandFontFamily;
    font-weight: $regularFontWeight;
    font-size: 18px;
    &:first-child{
      background-color: $orange;
      color: $white;
      font-family: $quicksandFontFamily;
      font-weight: $regularFontWeight;
      font-size: 18px;
    }
    // &:hover{
    //   cursor:default;
    // }
  }
}
// selectors end
 





